<div>
  <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <label class="mdl-textfield__label" for="filterText">Filter...</label>-->
    <div>
        <br />
    <input type="text" id="filterText" class="" placeholder="Filter.." [(ngModel)]="filter" (keyup)="filterChanged($event)" />
    <br />
    </div>
</div>
