<div class="mdl-card mdl-shadow--2dp story-card">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">{{vehicle.id}}. {{vehicle.name | initCaps}}</h2>
  </div>
  <div class="mdl-card__menu">
    <a href="" [routerLink]="['/vehicles', vehicle.id]"><button type="button" class="btn btn-danger btn-lg">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <!--<div class="icon mdl-color--primary icon-ic_play_circle_filled_white_24dp"></div>-->

    </button></a>
  </div>
</div>
