<h2>LOGIN</h2>
<p>
  <button type="button" class="btn btn-danger btn-lg" (click)="login()" *ngIf="!isLoggedIn">Login</button>

  <button type="button" class="btn btn-danger btn-lg" (click)="logout()" *ngIf="isLoggedIn">Logout</button>
</p>
