<article class="template animated slideInRight">
  <div *ngIf="vehicle">
    <h4>{{editVehicle.name | uppercase}} details</h4>

    <div class="form-group col-xs-4">
        <h3><label class="label label-default" for="nametext">Name</label></h3>
      <input type="text" id="nametext" class="form-control" [(ngModel)]="editVehicle.name" />
    </div>

    <div class="form-group col-xs-4">
        <h3><label class="label label-default" for="typeText">Type</label></h3>
      <input type="text" id="typeText" class="form-control" [(ngModel)]="editVehicle.type" />
    </div>

    <div>
      <button class="story-button btn btn-danger" (click)="save()">Save</button>
      &nbsp;
      <button class="story-button btn btn-primary" (click)="cancel()" [class.not-displayed]="isAddMode()">Cancel</button>
      &nbsp;
      <button class="story-button btn btn-primary" (click)="delete()" [class.not-displayed]="isAddMode()">Delete</button>
    </div>

  </div>
</article>
